::-webkit-scrollbar {
    width: 0px;
  }
  
  .container {
    display: flex;
    overflow-x: scroll;
    width: 360px;
    padding: 20px 0;
    margin-top: 60px;
  }
  
  .card {
    flex-shrink: 0;
    width: 91px;
    height: 91px;
    border-radius: 10px;
    margin-left: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #DEDEDE;
  }
  
  .topic {
    width: 79px;
    height: 13px;
    padding-top: 60px;
    padding-left: 6px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
  }